NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

AIML_API_KEY=
AIML_API_BASE_URL=https://api.aimlapi.com/v1
AIML_MODEL=openai/gpt-4o-mini

NEXT_PUBLIC_APP_URL=http://localhost:3000
